.c-form.c-form--provider
  .c-form__color
    .u-intro
      %h1.u-title.with-spacing Vielen Dank, dass du Mundschutze teilst oder sterilisieren kannst.
      %p.u-text-font-muted.u-mb-tiny
        Bitte gib uns einige Details über dich und deine Praxis. So können Praxen in deiner Nähe dich finden und dich kontaktieren, wenn sie deine Unterstützung benötigen. Solltest du selbst Mundschutze benötigen, kannst du dich in
        = link_to "in unsere andere Liste", new_consumer_url, class: "u-link"
        eintragen.
      %p.u-text-font-muted Lasst uns gemeinsam Ärzten helfen!
 
  .c-form__wrapper
    = render 'form'
