.o-site.o-site--spacing
  .o-wrapper.o-wrapper--limit.u-rich-text
    .u-mb-huge
      %h1.u-title.with-spacing.u-underline 1. Um welche Art von Mundschutz handelt es sich?
      %p Es geht hier hauptsächlich um die <strong>normalen zwei- oder dreilagigen</strong> Mundschutze, die jeder vom Zahnarzt kennt - diese sind zum Schnüren oder mit Gummibändchen zum Anhängen an den Ohren.
      %p Jedoch können die Anbieter hier auch gerne FFP2 oder FFP3 Masken zur Verfügung stellen

  .o-wrapper.o-wrapper--limit.u-rich-text
    .u-mb-huge
      %h1.u-title.with-spacing.u-underline 2. Halten diese Art von Mundschutze Coronavieren fern?
      %p <strong>Nein</strong>, dazu benötigt es einen FFP2 oder FFP3 Standard.

  .o-wrapper.o-wrapper--limit.u-rich-text
    .u-mb-huge
      %h1.u-title.with-spacing.u-underline 3. Wenn Coronaviren nicht abgehalten werden - wem bringt diese Seite was?
      %p Neben der ganzen Coronaproblematik dürfen wir nicht vergessen, dass wir immer noch viele <strong>andere Keime</strong> in unserer Umwelt haben, die das Potential besitzen unserer Gesundheit zu schädigen. Hierauf müssen wir in diesen Zeiten ebenfalls genau aufpassen. Denn die Patienten mit entsprechenden anderen Krankheiten kommen dennoch zu Ihrem Allgemein- und Hausarzt.
      %p Die Mundschutze ermöglichen es, das Risiko der primären Infektion des Arztes durch Bakterien etc., zu reduzieren und auch den Patient im umgekehrten Sinne vor dem Arzt als Infektionsträger konventioneller Infektion zu schützen.

  .o-wrapper.o-wrapper--limit.u-rich-text
    .u-mb-huge
      %h1.u-title.with-spacing.u-underline 4. Kosten die Mundschutze etwas?
      %p Nein, wir verlangen nichts dafür.

  .o-wrapper.o-wrapper--limit.u-rich-text
    .u-mb-huge
      %h1.u-title.with-spacing.u-underline 5. Können die Mundschutze geliefert werden?
      %p Das ist je nach Anbieter unterschiedlich. Manche bieten einen Lieferservice an.
      %p Sprecht das bitte persönlich mit dem jeweiligen Anbieter ab.

  .o-wrapper.o-wrapper--limit.u-rich-text
    .u-mb-huge
      %h1.u-title.with-spacing.u-underline 6. Und ihr nehmt diese Mundschutze auch wieder zurück?
      %p Bisher konnten wir immer sofort neue herausgeben. Aber auch unser Vorrat neigt sich irgendwann dem Ende zu- und dann sind wir dazu gezwungen auch gebrauchte zu sterilisieren.
      %p Das kann jedoch je nach Anbieter unterschiedlich sein.

  .o-wrapper.o-wrapper--limit.u-rich-text
    .u-mb-huge
      %h1.u-title.with-spacing.u-underline 7. Geht das Sterilisieren eines Mundschutzes? 
      %p Der Mundschutz verliert mit Sicherheit an gewisser Standhaftigkeit im Vlies gegenüber einem neuen. Wieviel genau können wir nicht sagen.
      %p Aber besser einen erneuerten, sauberen und sterilisierten normalen Mundschutz, als gar keinen oder einen zwei Wochen alten, der bereits viele Patienten gesehen hat.
      %p
        %strong Das ist leider die aktuelle Situation.

  .o-wrapper.o-wrapper--limit.u-rich-text
    .u-mb-huge
      %h1.u-title.with-spacing.u-underline 8. Gibt es Studien für die Wiederverwendung eines Mundschutzes?
      %p Ja, es gibt diverse. Die uns vorliegenden sind vom RKI und aus PubMed.
      %p
        %a{ :href => "https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Ressourcen_schonen_Masken.pdf?__blob=publicationFile", :title => "Empfehlung", :target => "_blank", class: 'u-link'}
          Empfehlung des Robert-Koch Instituts

  .o-wrapper.o-wrapper--limit.u-rich-text
    .u-mb-huge
      %h1.u-title.with-spacing.u-underline 9. Kann ich diese Masken auch für den privaten Gebrauch abholen?
      %p Leider genügen unsere Ressourcen nicht dafür. <strong>Ausschließlich Ärzten</strong>, deren Vorräte zur Neige gegangen ist oder gänzlich versiegt ist, erhalten von uns Nachschub.

  .o-wrapper.o-wrapper--limit.u-rich-text
    .u-mb-huge
      %h1.u-title.with-spacing.u-underline 10. Wie lange geht diese Aktion?
      %p Wir möchten in dieser Zeit der Corona Pandemie helfen- sobald wieder Normalität eingekehrt ist, werden wir hoffentlich diese Situation und diese Maßnahmen nicht mehr benötigen.

  .o-wrapper.o-wrapper--limit.u-rich-text.u-mb-huge
    .u-mb-default
      %h1.u-title.with-spacing.u-underline Du hast weitere Fragen oder Feedback?
      %p
        Wir freuen uns über Fragen, Feedback und Anmerkungen zu unserem Projekt. Du erreichst uns per E-Mail unter
        = link_to t('general.email'), "mailto: #{t('general.email')}", class: "u-link"
