.o-site
  .o-wrapper.o-wrapper--limit
    %h1.u-title.with-spacing Impressum

    .u-rich-text.u-mb-large
      %h2.u-subtitle.with-spacing Kontakt
      %p
        Dr. Christian Leonhardt
        %br
        Praxisinhaber
        %br
        %br
        Zahnärzte am Perlach
        %br
        Dr. Leonhardt & Dr. Karg
        %br
        Karolinenstraße 2
        %br
        D-86150 Augsburg
        %br
        %br
        Telefon: 0049 (0)821 515145
        %br
        Telefax: 0049 (0)821 159053
        %br
        Mobil: 0049 (0)177 6051251
        %br
        Mail: 
        = mail_to "leonhardt@zahnaerzte-am-perlach.de", "leonhardt@zahnaerzte-am-perlach.de"
        %br
        Web:
        = link_to "www.zahnaerzte-am-perlach.de", "https://www.zahnaerzte-am-perlach.de", target: "_blank", class: "u-link"
       

    .u-rich-text.u-mb-large
      %h2.u-subtitle.with-spacing Verantwortlich im Sinne §5 des TMG
      %p Dr. Christian Leonhardt, Anschrift wie oben

    .u-rich-text.u-mb-large
      %h2.u-subtitle.with-spacing Technische Umsetzung der Plattform
      %p= link_to "bitside GmbH", "https://bitside.de", target: "_blank", class: "u-link"

    .u-rich-text.u-mb-large
      %h2.u-subtitle.with-spacing Visuelle Gestaltung
      %p= link_to "und Pohlen GmbH – Büro für visuelle Kommunikation", "https://und-pohlen.de", target: "_blank", class: "u-link"

