%h1 Dashboard#index
%p Find me in app/views/dashboard/index.html.haml

%h2 Anbieter
%p= link_to('Als Anbieter registrieren', new_provider_url)

%h2 Verbraucher
%p= link_to('Als Verbraucher registrieren', new_provider_url)

