%h1 Editing consumer

= render 'form'

= link_to 'Destroy', @consumer, method: :delete, data: { confirm: 'Are you sure?' }

= link_to t('views.show'), @consumer
\|
= link_to t('views.back'), consumers_path
