Hallo
= @user.name

Bitte bestätigen Sie Ihre E-Mail mit dem folgenden Link:

= confirm_email_user_url(@user, {confirmation_token: @user.confirmation_token})

Sie können ihren Eintrag mit dem folgenden Link verwalten:

= manage_account_user_url(@user, {confirmation_token: @user.confirmation_token})

Besten Dank

Ihr "Gemeinsam Ärzten" Helfen Team