Hallo
= @consumer.name

Bitte bestätigen Sie Ihre E-Mail mit dem folgenden Link:
= confirm_email_consumer_url(@consumer, {confirmation_token: @consumer.confirmation_token})

Möchte Sie Ihren Eintrag deaktivieren, nutzen Sie folgenden Link:

Besten Dank