Hallo
= @provider.name

Bitte bestätigen Sie Ihre E-Mail mit dem folgenden Link:
= confirm_email_provider_url(@provider, {confirmation_token: @provider.confirmation_token})

Möchte Sie Ihren Eintrag deaktivieren, nutzen Sie folgenden Link:

Besten Dank