table {
  width: 100%;
}

input {
  @include border(border-default);
  @include padding(null, 4);
  @include font(sans);
  @include font-size(sm);
  border-style: solid;
  border-width: 1px;

  &:focus {
    @include border(border-active);
    outline: 0;
  }
}
