table {
  width: 100%;
}

textarea,
input[type=text] {
  @include border(border-default);
  @include padding(null, 4);
  @include font(sans);
  border-style: solid;
  border-width: 1px;
  font-size: inherit;

  &:focus {
    @include border(border-active);
    outline: 0;
  }

  .field_with_errors & {
    @include border(negative);
  }
}

input[disabled] {
  @include background(muted);
}

textarea {
  line-height: 1.6;
}
