// Webfont Loading
@font-face {
  font-family: 'Personal';
  font-weight: 400;
  src: font-url('PersonalSans-Regular.woff');
}

@font-face {
  font-family: 'Personal';
  font-weight: 600;
  src: font-url('PersonalSans-Medium.woff');
}

// Some sane typographic defaults
body {
  @include font(sans);
  @include leading(normal);
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
  text-rendering: optimizeLegibility;
  font-feature-settings: "tnum" 1;
  @include respond-to(medium) {
    font-size: 16px;
  }
}

strong {
  font-weight: 600;
}
