$layout--spacing-variants: (
  flush: 0,
  tiny: 4,
  small: 6,
  large: 12,
  huge: 16,
) !default;

$layout--spacing-shorthands: (
  null: null,
  't': 'top',
  'r': 'right',
  'b': 'bottom',
  'l': 'left',
  'x': 'horiontal',
  'y': 'vertical',
) !default;


@each $spacing-name, $spacing-value in $layout--spacing-variants {
  @each $direction-namespace, $direction-rules in $layout--spacing-shorthands {
    .u-m#{$direction-namespace}-#{$spacing-name} {
      @include margin($direction-rules, $spacing-value);
    }

    .u-p#{$direction-namespace}-#{$spacing-name} {
      @include padding($direction-rules, $spacing-value);
    }
  }
}
