.o-list-comma {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.o-list-comma__item {
  display: inline-flex;

  &::after {
    content: ',';
  }

  &:last-child::after {
    content: none;
  }
}
