.o-site {
  @include padding(top, 6);
  position: relative;
  min-height: 100vh;
  @include respond-to(medium) {
    @include padding(top, 12);
  }


  .map {
    margin-top: 4rem;
    height: 317px;
    margin-bottom: 2rem;
  }
}

.o-site--spacing {
  @include padding(vertical, 24);
}
