.c-form {
  @include respond-to(medium) {
    display: flex;
    min-height: 100vh;
  }
}

.c-form__color {
  @include between(0, medium) {
    @include padding(null, 8);
    @include padding(top, 24);
  }

  @include respond-to(medium) {
    @include padding(null, 16);
    @include padding(top, 32);
    width: 50%;
  }

  .c-form--consumer & {
    @include background(consumer);
  }

  .c-form--provider & {
    @include background(provider);
  }
}

.c-form__wrapper {
  @include padding(null, 8);
  @include respond-to(medium) {
    @include padding(null, 16);
    @include padding(top, 32);
    width: 50%;
  }
}

.c-form__row {
  @include margin(bottom, 6);
}

.c-form__label {
  @include margin(bottom, 1);
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: 0.04em;

  .field_with_errors & {
    @include color(negative);
  }
}

.c-form__checkbox__row {
  display: flex;

  .c-form__checkbox {
    @include margin(right, 8);
  }
}

.c-form__checkbox {
  @include margin(top, 4);
  display: flex;
  align-items: center;
}

.c-form__checkbox__input {
  @include margin(right, 4);
  position: relative;
  &::before {
    @include border(border-default);
    @include background(default);
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    content: "";
    transform: translate(-50%, -50%);
  }

  &:checked::before {
    @include background(font-default);
    @include border(font-default);
    box-shadow: inset 0px 0px 0px 3px #fff;
  }
}

.c-form__checkbox__label {
  cursor: pointer;


  .field_with_errors & {
    @include color(negative);
  }
}


.c-form__hint {
  @include color(font-muted);
  @include margin(bottom, 2);
  display: block;
  font-size: 0.85em;
}

.c-form__input {
  width: 100%;
}

.c-form__actions {
  text-align: right;
}

#error_explanation {
  @include padding(null, 4);
  @include background(bg-negative);
  @include color(negative);
  @include margin(bottom, 12);
}
