.c-form {
  @include respond-to(medium) {
    display: flex;
    min-height: 100vh;
  }
}

.c-form__color {
  @include between(0, medium) {
    height: 100px;
  }

  @include respond-to(medium) {
    width: 50%;
  }

  .c-form--consumer & {
    @include background(consumer);
  }

  .c-form--provider & {
    @include background(provider);
  }
}

.c-form__wrapper {
  @include padding(null, 8);
  @include respond-to(medium) {
    @include padding(null, 16);
    width: 50%;
  }
}

.c-form__container {
  @include margin(top, 12);
}

.c-form__row {
  @include margin(bottom, 6);
}

.c-form__label {
  @include margin(bottom, 1);
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: 0.04em;

  .field_with_errors & {
    @include color(negative);
  }
}

.c-form__hint {
  @include color(font-muted);
  @include margin(bottom, 2);
  display: block;
}

.c-form__input {
  width: 100%;
}

.c-form__actions {
  text-align: right;
}

#error_explanation {
  @include color(negative);
  @include margin(bottom, 4);
}
