.c-listing__header {
  @include margin(bottom, 8);
  @include respond-to(medium) {
    display: flex;
    align-items: center;
  }
}

.c-listing__title {
  font-size: 1.25em;
}

.c-listing__action {
  @include respond-to(medium) {
    margin-right: 0;
    margin-left: auto;
    font-size: 0.85em;
  }
}

.c-listing__search {
  @include margin(bottom, 12);
  width: 100%;
}

.c-listing__search__actions {
  @include margin(bottom, 12);
  @include margin(top, 8, '-');
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.c-listing__search__reset {
  @include margin(right, 2);
}

.c-listing__body {
  @include respond-to(medium) {
    @include margin(horizontal, 6, '-');
  }
}

.c-listing__item {
  @include padding(vertical, 3);
  @include border(border-default);
  display: block;
  position: relative;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 100%;

  &::after {
    content: '->';
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    transition: right 0.2s ease-out;
  }

  &:hover::after {
    right: 0;
  }

  @include respond-to(medium) {
    @include padding(horizontal, 6);
    display: flex;
  }
}

.c-listing__item__name {
  font-weight: 600;
}

.c-listing__item__name,
.c-listing__item__city {
  @include padding(right, 2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include respond-to(medium) {
    width: 40%;
    font-size: 0.85em;
  }
}

.c-listing__more {
  @include margin(top, 12);
  text-align: right;
  font-size: 0.85em;
  
  &::after {
    content: ' ->';
  }
}
