.c-split-view {
  @include between(0, medium) {
    @include padding(top, 12);
    position: relative;
  }
  @include respond-to(medium) {
    display: flex;
    overflow-y: scroll;
    min-height: 100vh;
  }
}

.c-split-view__item {
  @include respond-to(medium) {
    width: percentage(1 / 2);
  }
}

.c-split-view__item--provider {
  @include background(provider);
}

.c-split-view__item--consumer {
  @include background(consumer);
}

.c-split-view__item__header {
  display: flex;
  align-items: center;
  @include between(0, medium) {
    @include padding(horizontal, 8);
    @include padding(vertical, 6);
    cursor: pointer;

    .c-split-view__item--provider & {
      @include background(provider);
    }

    .c-split-view__item--consumer & {
      @include background(consumer);
    }
  }
  @include respond-to(medium) {
    @include padding(horizontal, 16);
    @include padding(top, 12);
    position: sticky;
    top: 0;
  }
}

.c-split-view__item__action {
  @include between(0, medium) {
    display: none;
  }
  margin-right: 0;
  margin-left: auto;
}

.c-split-view__item__body {
  @include between(0, medium) {
    @include padding(null, 8);
    display: none;
  }
  @include respond-to(medium) {
    @include padding(horizontal, 16);
    @include padding(top, 8);
    @include padding(bottom, 8);
  }
  .c-split-view--visible & {
    display: block;
  }
}

